<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Personal account</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body class="body">
    <div class="pageTitle">
        <h1>My account</h1>
    </div>
    <div class="row-container">
        <div>
            <div class="username">
                <img id="account-logo" src="/images/account.png">
                <h2 id="greeting">Hi, <%= user.fullName %> </h2>
            </div>
            <div class="sections">
                <a href="<%=`/${user._id}/my-account/profile` %>">My details</a>
                <a href="<%=`/${user._id}/my-account/address` %>">My address book</a>
                <a href="<%=`/${user._id}/my-account/payment` %>" class="active">My payment methods</a>
            </div>
        </div>
        <div>
            <div class="form-container">
                <form method="POST" action="<%=`/${user._id}/my-account/payment/update?_method=PUT`%>">
                    <label for="inputDescription">Card Number</label>
                    <input type="tel" name="card" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" required>
                    <label for="inputDescription">Expiration date</label>
                    <input type="text" name="expiration" placeholder="mm/yy" required>
                    <label for="inputDescription">Name on card</label>
                    <input type="text" name="holder" placeholder="NAME LASTNAME" required>
                    <label for="inputDescription">CVV</label>
                    <input type="password" placeholder="CVV" maxlength='3' required>
                    <button id="save-changes-button" type="submit">ADD CARD</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>