<link rel="stylesheet" type="text/css" href="/css/layout.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bzzApp.js"></script>
<script src="/socket.io/socket.io.js"></script>
<body>
    <%- include ('./partials/header')%>
    <li><%- include ('./partials/_productsModal') %></li>
    <div class="flashes">
        <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
        <% } %>
    </div>
    <% if (loggedIn) { %>
    <div class="logout">
        <a href="/users/logout">Log out</a>
        <% } %>
    </div>
    <%- body %>
</body>