<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="/js/bzzApp.js"></script>
<body>
<%- include ('./partials/header')%>
<li><%- include ('./partials/_usersModal') %></li>
<div class="flashes">
    <% if (flashMessages) { %>
     <% if (flashMessages.success) { %>
     <div class="flash success"><%= flashMessages.success %></div>
     <% } else if (flashMessages.error) { %>
     <div class="flash error"><%= flashMessages.error %></div>
     <% } %>
    <% } %>
</div>
<div class="login">
    <% if (loggedIn) { %>
   <p>Logged in as
   <a href="<%=`/users/${currentUser._id}`%>">
   <%= currentUser.fullName %></a>
   <a href="/users/logout">Log out</a>
    </p>
    <%} else {%>
    <a href="/users/login">Log In</a>
    <% } %>
   </div>
<%- body %>
</body>