<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product detailed view</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rock+Salt" />
    <link href="//fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>

<body>
<%- include ('./../partials/header')%>
    <div class="main">
        <div class="productTitle">
            <h1><%= name %></h1>
        </div>
        <div class="detailView">
        <div class="imgBorder">
                <img class="product-image" src="/images/<%= name %>.jpg">
        </div>
        <div class="description-container">
                <h2>Product info</h2>
                <p><%= description %></p>
                <h3>Price: <%= price %> €</h3>
                <button class="add-button">ADD TO BAG</button>
        </div>
        </div>
    </div>
</body>

</html>